html { margin: 0; padding: 0 }
body
{
	padding: 0;
	margin: 0;
	background: #E7E7E7;
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
	overflow: hidden;
	width:100%;
	height:100%;
}
div#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	box-shadow: 0px 0px 3px #333;
	z-index: 99999;
	border: none;
}
div#header h1
{
	font-size: 27px;
	margin: 0;
	padding: 10px;
	line-height: 30px;
	font-weight: normal;

}
div#header h1 span { font-weight: bold; }

div#full_screen
{
	width: 100%;
	position:absolute;
	top:50px;
	bottom:0px;
	left:0px;
	right:0px;
}

div#leftbar
{
	position: absolute;
	width: 250px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #AAA;

}

div#viewport
{
	position: absolute;
	left: 256px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	border-left: 1px solid #AAA;
	background: #DCDCDC;
}

.form label span
{
	display: inline-block;
	width: 150px;
}
.form label input[type="text"], .form label input[type="password"]
{
	width: 250px;
	border: 1px solid #AAA;
	padding: 2px;
	font-size: 12px;
}
.form div.state
{
	padding: 10px;
	margin: 10px 0;
}

div#progress_bar
{
	position: absolute;
	width: 1024px;
	bottom: 50px;
	left: 50%;
	margin-left: -512px;
}