body{
    margin:0;
    padding:0;
    font-family: "Open Sans";
    font-size: 10pt;
}

#topsection{
    border-bottom: solid 1px #ddd;
}

h1, h2 {
    padding: 10px;
    margin: 0;
}

textarea, pre {
    padding: 20px;
    border: solid 1px #ddd;
    background: #eee;
    margin: 0 10px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    width: 1000px;
    display: block;
}

pre {
    background: white;
}

button {
    margin: 10px 10px;
    width: 100px;
}

#contentwrapper{
    float: left;
    width: 100%;
    border-bottom: solid 1px #ddd;
}

#viewerContainer{
    margin-left: 400px;
}

#leftcolumn{
    float: left;
    width: 400px;
    margin-left: -100%;
}

#treeContainer {
    line-height: 150%;
    width: 350px;
    overflow-x: hidden;
}

#treeContainer div {
    padding-left: 10px;
    width: 1000px;
    border-top: solid 1px #eee;
    cursor: pointer;
}

#treeContainer div:before {
  content: "\21b3  ";
}

#leftcolumn .inner  {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.inner {
    margin: 10px;
}

canvas {
    display: block;
    width: 100%;
    height: 600px;
    cursor: default;
}
